
<!DOCTYPE html>

<style>

  body {
    background-color: lightblue;
  }

  input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid lightgray;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    background-color: yellowgreen;
    padding: 12px;
    text-emphasis: none;

  }
</style>









<html lang="en">
<head>  
    <meta charset="UTF-8">
    <title>Task To Do</title>
   
</head>
<body> 

  
 
  <form action="/submit" method = "POST">

    <p>Task: <input type = "text" name = "task" required /></p>
    <p>Email: <input type = "text" name = "email" required/></p>
    <select name="priority" required >
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
    </select>
    <p><input type = "submit" value = "Add To Do Item" /></p>
    </select>
</form>


</body>
</html>